[Unit]
Description=Fastlane Sidecar - MEV capturing sidecar for Monad Validator
After=network.target
Wants=network.target

[Service]
Type=simple
User=monad
Group=monad
EnvironmentFile=/home/monad/fastlane/.env
ExecStart=/usr/bin/fastlane-sidecar \
    --log-level info \
    --network "${NETWORK}"
Restart=always

# Security settings
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ReadWritePaths=/home/monad/fastlane

# Reuse CPUs assigned to monad-rpc, as it should be doing very little, if anything at all on a validator node
AllowedCPUs=12-15
CPUAffinity=12,13,14,15

[Install]
WantedBy=multi-user.target
